build/
examples/build/
./CMakePresets.json
./CMakeUserPresets.json
.vscode/
.clang-format
log/
*.
Game/build/
Game/examples/build/
Game/CMakePresets.json
Game/CMakeUserPresets.json
Game/.vscode/
Game/.clang-format
Game/log/
